
#cabeza{
	display:flex;
	background-color: grey;
	justify-content: right;
}

.menu ul li{
  display:flex;
  list-style:none;
  margin-right:25px;
  margin-left:25px;
  float:left;
  padding:30px 0;
  align-items:center;
}

 nav a{
	display:flex;
	text-decoration: none;
	color:white;
}

#body{
	display:flex;
	justify-content:space-around;
}

.logo img{
	width: 200px;
	height: 100px;
}

mix-blend-mode: luminosity; /*Sobre la figura amarilla. Para que se mezclen los colores del logo y figura amarilla en 
zona superpuesta.*/

transform:rotate(60deg); Sobre la figura amarilla para girarla.

.formulario{
	display:flex;
	margin-top: 20px;
	justify-content: center;
  text-align: center;
  height: 250px;
  width: 600px;
	border:2px solid black;
	box-shadow: 10px 15px rgb(223, 232, 232);
	border-radius: 15%;
	position:relative;
}

.formulario div{
	margin-top:0px;
	padding:10px;
}

.cajas div{
	display:flex;
	justify-content:left;
}

.boton input{
	border:1px solid black;
	border-radius: 15%;
	padding:2px;
	background-color: royalblue;
	width: 90px;
	color:white;
}