header{
    justify-content:space-around;
    text-align: center;   
    background-color:black;
    display:flex;   
}

.menu1 a{
  text-decoration: none;
  justify-content: space-around;
}  

.menu1 ul li{
  display:flex;
  list-style:none;
  margin-right:25px;
  margin-left:25px;
  float:left;
  padding:30px 0;
  align-items:flex-end;
}

.menu1 .movil{
    display:none;
}

.menu1 a:hover{
  color:white;
}

.menu1 a:visited{
  color:white;
}

.menu1 a:hover{
  color:blue;
}

.menu1 a:active{
  color:#0000FF;
}



#menu2{
    display:none;
}

#menu2:target{
    display:flex;
    justify-content:space-around;
    text-align: center;   
    background-color:whitesmoke;


}

#menu2 a{
  text-decoration: none;
  justify-content: space-around;

}  

#menu2 ul li{
    display:flex;
    list-style:none;
    float:left;
    margin-right:35px;
    margin-left:35px;
    align-items:flex-end;
    justify-content: space-around;
    flex-direction: column; 
    text-align: center; 
}

#menu2 a:link{
  color:black;
}

#menu2 a:visited{
  color:black;
}

#menu2 a:hover{
  color:blue;
}

#menu2 a:active{
  color:#0000FF;
}

p{
    color:gold;
}

#menumovil{
    display:none;
}

@media screen and (max-width: 600px){

body{
    background-color:black;
}

.inv {
    display:none;
}

#menu2{
    display:none;
}

#movil{
    display:block;
}

#movil-cerrar{
    display:block;
}

.visible{
    position:relative;
    left: 70px;
}

#menumovil:target{
    display:block;

}

#menumovil a{
    text-decoration:none;
    color:grey;
    font-size:30px;
}

#menumovil ul li{
    list-style:none;
    border-bottom: 2px solid white;
}
#menumovil a:link{
  color:grey;
}

#menu2 a:visited{
  color:gery;
}

menu2 a:hover{
  color:white;
}

}