/*--Pag1--*/

header{
	display:flex;
	background-color: steelblue;
	justify-content: space-around;
}

nav ul li{
  display:flex;
  list-style:none;
  margin-right:25px;
  margin-left:25px;
  float:left;
  padding:30px 0;
  align-items:center;
}

nav a{
	display:flex;
	text-decoration: none;
	color:white;
	border: 2px solid white;
	border-radius: 25%;
	padding:7%;
}

#inicio img{
	width:100%;
}

nav a:hover{
	color:gold;
}

#movil{
	display:none;
}

/*--Pag2--*/

figure{
	display:flex;
	width:220px;
  height: 440px;
	margin-left:420px;
	position:relative ;
	z-index: 1;
	flex-direction: column;

}

figure figcaption{
	width:80%;
}

figure img{
	width: 200px;
  height: 300px;
}

.blue{
	color:lightblue;
}

.orange{
	color:darkorange;
}

#formulario{
  display:flex;
  background-color:steelblue;
  justify-content: center;
  text-align: center;
  height: 400px;
  width: 400px;
  margin-left:600px;
  margin-top: -200px;
  z-index:0;
  position:relative;
}

#formulario input{
	padding:5px;
}

#formulario:hover{
	z-index:2;
}

@font-face{
	font-family:'HunDIN1451';
	src: url("./fuente/HunDIN1451.ttf");
}

.font{
	font-family:'HunDIN1451';
	font-size:1em;
	color:white;
}

#movil1{
	display:none;
}

/*--Parte movil--*/

@media screen and (max-width: 600px){
	#cuerpo{
		display:none;
	}

	#movil{
		display:flex;
		justify-content: center;
		text-align: center;
		}







	#movil1{
		display:flex;
		justify-content: center;
  		text-align: center;
  		height:100;
	}

	

	
	.menu1{
		display flex
	}

	.menu1 ul li{
		display:flex;
  		list-style:none;
  		float:left;
  		padding: 10px 0;
  		justify-content:center;
	}

	.menu1 a{
	display:flex;
	text-decoration: none;
	color:black;
	justify-content:center;
	}

	.menu1 a:hover{
		background-color: blue;
	}


.red{
	display:flex;
	text-decoration: none;
	color:red;
}


	#oculto{
		display:none;
	}


	#oculto:target{
		display:flex;
		font-size:11px;
	}
}