/*---todas las columnas---*/
#body{
	display: flex;
	justify-content:space-around;
    width: 80%;
    height: 80%;
    margin-right: 10px;
    margin-left:120px;
    
}

#body div{
   margin-right:8px;
}
/*---Columna1---*/
#columna1 {
 color:white;
 background-color:grey;
 text-align: center;
 writing-mode: vertical-lr;
 font-family:Lexend;
font-size:xx-large;
 height: 100%;
 width:10%;
 margin-top: 10px;
 transform: rotate(180deg);
 }
 /*---Columna2---*/
 #columna2 img{
 	margin-top: 10px;
 	width: 200px;
    height:97%;
    margin-left: 0px;

 }

 /*---Columna3---*/
 #columna3{
   display: flex;
   justify-content: center;
   text-align: center; 
   background-color:black;
   margin-left: 0px;
   margin-top: 10px;
   height: 725px;
   width: 400px;
 }

 #columna3 img{
   margin-top:5px;
    padding:-4px;


 }

 #columna3 input{
   padding: 8px;
   border: 1px solid blue;
 }

 #columna3 select{
   border: 1px solid blue;
   padding: 8px;
   width: 346px;
   color:grey;
 }

 #columna3 textarea{
   border: 1px solid blue;
   width: 340px;
}

 #columna3 .columna3b{
   margin-bottom:8px ;
    background-color:white;
 }

 #columna3 div{
    margin-bottom:8px; 
 }


#columna3 .p4 input{
   background-color:black;
   color:white;
   border:none;
}
 /*---Clomuna4---*/

 #columna4{
   margin-top: 10px;
   margin-left:0px;
   width: 240px;
   height: 700px;
  
 }

 #columna4 .planta{
  width:240px;
  height: 640px;
 }

 #columna4 .gracias{
   width:240px;
  height: 60px;
  
 }

/*---Parte_Movil---*/
#parte-movil{
   display:none;
}


@media screen and (max-width: 600px){

   #body{
      display:none;
   }

   #parte-movil{
      display:flex;
   }

   .textofm{
      font-family:Lexend;
      font-size:xx-large;
      color:grey;
   }

   .imagenfm img{
      width:150px;
      height: 200px;
   }

   .imagenfm1 img{
      width:170px;
      height:170px;
   }

   .formuM{
   display: flex;
   justify-content: center;
   text-align: center;
   }

   .formuM input{
   padding: 8px;
   border: 1px solid blue;
 }

 .formuM select{
   border: 1px solid blue;
   padding: 8px;
   width: 346px;
   color:grey;
 }

 .formuM textarea{
   border: 1px solid blue;
   width: 340px;
}

   .formuM .p1{
      padding: 2px;
   }

   .formuM .p2{
      padding:4px;
   }

   .formuM .p3{
      padding:4px;
   }



   .formuM .p4 input{
   background-color:black;
   color:white;
   border:none;
}
 